/* CSS declarations go here */
#preview_iframe {
  width: 100%;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  min-height: 300px;
  resize: both;
}

.eusers {
  display: inline-block;
  margin-bottom: 10px;
}

/* CSS declarations go here */

.top-margin{
	margin-top:50px;
}

#viewer_iframe{
	border:1px solid gray;
	resize:both;
	width:100%;
}

.dropdown-menu {
  max-height: 350px;
  overflow-y: auto;
}
